{% extends "base.html" %}
{% import "utils.html" as utils %}

{% block title %}{{ post.title }} - r/{{ post.community }}{% endblock %}

{% block search %}
	{% call utils::search(["/r/", post.community.as_str()].concat(), "") %}
{% endblock %}

{% block root %}/r/{{ post.community }}{% endblock %}{% block location %}r/{{ post.community }}{% endblock %}
{% block head %}
	{% call super() %}
{% endblock %}

{% block subscriptions %}
	{% call utils::sub_list(post.community.as_str()) %}
{% endblock %}

{% block content %}
    <div id="column_one" class="simple-page duplicates-page">
		<header class="page-hero"><h1>Other discussions</h1><p><a href="{{ post.permalink }}">{{ post.title }}</a></p></header>

        <!-- DUPLICATES -->
        {% if post.num_duplicates == 0 %}
            <span class="listing_warn">(No duplicates found)</span>
        {% else if post.flags.nsfw && prefs.show_nsfw != "on" %}
            <span class="listing_warn">(Enable "Show NSFW posts" in <a href="/settings">settings</a> to show duplicates)</span>
        {% else %}
            <div id="duplicates_msg"><h3>Duplicates</h3></div>
            {% if num_posts_filtered > 0 %}
            <span class="listing_warn">
                {% if all_posts_filtered %}
                    (All posts have been filtered)
                {% else %}
                    (Some posts have been filtered)
                {% endif %}
            </span>
            {% endif %}

            <nav class="search-scope" aria-label="Sort discussions">
                    <a {% if params.sort.is_empty() || params.sort.eq("num_comments") %}class="is-active"{% endif %} href="?sort=num_comments">
                        Number of comments
                    </a>
                    <a {% if params.sort.eq("new") %}class="is-active"{% endif %} href="?sort=new">
                        New
                    </a>
            </nav>

            <div id="posts">
            {% for post in duplicates -%}
                {% if !(post.flags.nsfw) || prefs.show_nsfw == "on" %}
                {% call utils::post_in_list(post) %}
                {% endif %}
            {%- endfor %}
            </div>

            <footer class="listing-pagination" aria-label="Listing pages">
                {% if params.before != "" %}
                <a href="?before={{ params.before }}{% if !params.sort.is_empty() %}&sort={{ params.sort }}{% endif %}" accesskey="P">Previous page</a>
                {% endif %}

                {% if params.after != "" %}
                <a href="?after={{ params.after }}{% if !params.sort.is_empty() %}&sort={{ params.sort }}{% endif %}" accesskey="N">Next page</a>
                {% endif %}
            </footer>
        {% endif %}
    </div>
{% endblock %}
